.App {
  text-align: center;
}

.gallery {
  column-count:5;
  column-gap:0;

}
.pics {
  position: relative;
  text-align: center;
  color: white;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: cursive;
}

.pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor:pointer;
}
/* 
@media all and (max-width: 700px) {
  .gallery {
    column-count:3;
    column-gap:0;
  
  } */
/* } */


@media screen and (max-width: 1100px) {
  .gallery {
    column-count:1;
    column-gap:0;
  
  }
}

